@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Webpage global css*/

.maincontainer{
  font-family: 'Poppins', sans-serif;

}
.textheader {
  color: rgb(255, 255, 255);
  font-size: 5em;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 30%;
  letter-spacing: 3px;
}

.jumbotron {
  padding: 6rem 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}


@media screen and (max-width: 767px) {
  .textheader {
    font-size: 3em;
  }
}

/*END OF Webpage global css*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
