.navbar{
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color:gray !important;
}
#navlogo{
    font-family:beyno;
}

#basic-navbar-nav .nav-link:hover{
    color: #ffffff; /* Set your desired text color */
}