.contactcontainer {
  background-image: linear-gradient(45deg, #f2ebff, #d2b9ff);
  height: 100vh;
}

.contactform {
  position: absolute;
  width: 70%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0px auto;
  left: 0;
  right: 0;
}

.info-box {
  color: #444444;
  text-align: center;
}
.info-box .i {
  font-size: 40px;
  color: #6c3ee3;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #000000;
  width:1.5em;
  height: 1.5em;
}
.info-box .social-icon {
  font-size: 32px;
  color: #6c3ee3;
  padding: 8px;
  width:1.5em;
  height: 1.5em;
}
.info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}
.info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.msgform{
  background-image: linear-gradient(135deg,#bc9df7,#824ee2);
}

.socials{
  background-color: rgb(247, 222, 250);
}

@media screen and (max-width: 767px) {
  .contactform {
    width: 95%;
  }
}
